.content {
    width: 710px;
}

.contentBoxBG {
    width: 702px;
    background: url(/contentBoxLineWide.png) repeat-y 0 0;
}

.contentBoxTop {
    width: 710px;
    background: url(/contentBoxTopWide.png) no-repeat 0 0;
}

.contentBoxBottom {
    width: 710px;
    background: url(/contentBoxBottomWide.png) no-repeat 0 0;
}

.lineDividerBlock {
    width: 710px;
}
